<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingfangx.demo.androidx">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pingfangx.com"
                    android:scheme="xx" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.android.graphics.drawable.CustomDrawableActivity" />
        <activity android:name=".activity.android.widget.ScrollerActivity" />
        <activity android:name=".activity.androidx.coordinatorlayout.widget.AppBarLayoutActivity" />
        <activity
            android:name=".activity.androidx.coordinatorlayout.widget.CollapsingToolbarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.androidx.coordinatorlayout.widget.CoordinatorLayoutActivity" />
        <activity android:name=".activity.androidx.core.view.NestedScrollingActivity" />
        <activity android:name=".activity.thirdparty.map.navigation.MapNavigationActivity" />
        <activity android:name=".activity.tool.program.AbiAndMicroarchitectureActivity" />
        <activity android:name=".activity.tool.program.AppListActivity" />
        <activity android:name=".activity.view.imageview.ImageViewScaleTypeActivity" />
        <activity android:name=".activity.view.listview.ListViewActivity" />
        <activity android:name=".activity.view.material.DrawerLayoutActivity" />
        <activity android:name=".activity.view.recyclerview.RecyclerViewScrollActivity" />
        <activity android:name=".activity.view.textview.DoubleClickButtonActivity" />
        <activity android:name=".activity.view.textview.TextViewBoldActivity" />
        <activity android:name=".activity.view.textview.TextViewSkewActivity" />
        <activity android:name=".activity.view.PreviewViewsActivity" />
        <activity android:name=".common.CommonActivity" />
    </application>

</manifest>