<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingfangx.demo.androidx">

    <!--用于浮窗 FloatWindowDemo-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pingfangx.com"
                    android:scheme="xx" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.android.app.activity.AActvity" />
        <activity android:name=".activity.android.app.activity.BActvity" />
        <activity android:name=".activity.android.app.activity.FragmentLifecycleActivity" />
        <activity
            android:name=".activity.android.app.activity.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.android.app.activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.android.app.activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.android.app.activity.SingleTaskWithAffinityActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.pingfangx.demo.androidx.lifecycle" />
        <activity
            android:name=".activity.android.app.activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />

        <activity android:name=".activity.android.content.IntentMaxSizeTestActivity" />

        <activity android:name=".activity.android.graphics.drawable.CustomDrawableActivity" />
        <activity android:name=".activity.android.view.BlinkLayoutActivity" />
        <activity android:name=".activity.android.widget.LinearLayoutActivity" />
        <activity android:name=".activity.android.widget.ScrollerActivity" />
        <activity android:name=".activity.androidx.coordinatorlayout.widget.AppBarLayoutActivity" />
        <activity
            android:name=".activity.androidx.coordinatorlayout.widget.CollapsingToolbarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.androidx.coordinatorlayout.widget.CoordinatorLayoutActivity" />
        <activity android:name=".activity.androidx.core.view.NestedScrollingActivity" />
        <activity android:name=".activity.com.google.android.material.textfield.TextInputLayoutActivity" />
        <activity android:name=".activity.thirdparty.map.navigation.MapNavigationActivity" />
        <activity android:name=".activity.tool.program.AbiAndMicroarchitectureActivity" />
        <activity android:name=".activity.tool.program.AppListActivity" />
        <activity android:name=".activity.view.imageview.ImageViewScaleTypeActivity" />
        <activity android:name=".activity.view.listview.ListViewActivity" />
        <activity android:name=".activity.view.material.DrawerLayoutActivity" />
        <activity android:name=".activity.view.recyclerview.RecyclerViewScrollActivity" />
        <activity android:name=".activity.view.textview.DoubleClickButtonActivity" />
        <activity android:name=".activity.view.textview.TextViewBoldActivity" />
        <activity android:name=".activity.view.textview.TextViewSkewActivity" />
        <activity android:name=".activity.view.PreviewViewsActivity" />
        <activity android:name=".common.CommonActivity" />
        <activity android:name=".common.VirtualActivity" />

        <service
            android:name=".activity.android.app.service.AnotherProcessService"
            android:process=":another" />
        <service
            android:name=".activity.android.app.service.LifecycleTestService"
            android:exported="false">
            <intent-filter>
                <!-- 实际是无效的，21 以后不能通过隐式 intent 启动 -->
                <action android:name="com.pingfangx.demo.androidx.activity.android.app.service.LifecycleTestService" />
            </intent-filter>
        </service>
        <service android:name=".activity.android.app.service.BinderService" />
        <service
            android:name=".activity.android.app.service.MessengerService"
            android:process=":another" />
    </application>

</manifest>